
section{     
        background-color: #ccc;       
        margin: 2%;      
        padding: 0 2% 2%;
        text-align: justify;
}


.navbar.navbar-inverse{
        border-radius: 0;
}
.navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:hover{
        background-color: #ccc;
}